.nav {
    height: 100% ;
    background-color: var(--navbar-bg);
    color: var(--navbar-fg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex: 0;
    gap: 1rem;
}

.nav a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav li {   
    margin: .25rem;
    border-bottom: solid 2px transparent;
    transition: border 100ms linear;
}

.nav li.active {
    color: var(--active-fg);
}

.nav li:hover {
    color: var(--active-fg);
    border-color: var(--active-fg);
}

.author {
    display: none;
}

@media screen and (min-width: 400px){
    .author {
        display: block;
    }
}