.side {
    height: 100%;
    width: 100%;
    background-color: var(--layer-2-bg);
    color: var(--layer-1-bg);
}

.side ul{
    height: 100%;
    padding: 0 .5rem;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    flex-shrink: 0;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.side ul::-webkit-scrollbar{
    display: none;
}
.side a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.side li {
    color: var(--navbar-fg);
    width: max-content;
}

.side li.active {
    color: var(--active-fg);
}