:root {
  --navbar-bg: #41413c;
  --navbar-fg: #ededed;
  --active-fg: #d13f3f;
  --layer-3-fg: #0a0a0a;
  --layer-3-bg: #cfcfcf;
  --layer-2-bg: #585451;
  --layer-1-fg: #585451;
}

.App {
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
  /* 400, 500, 700 */
  font-weight: 300;
  color: var(--layer-3-bg);
}

.Navbar {
  height: 5vh;
}

.Body {
  min-height: 100vh;
}

.Footer {
  height: 10vh;
}

p {
  color: var(--active-fg);
  font-size: large;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem 5rem;
}