:root {
  --layer-1-bg: #41413c;
  --layer-2-bg: #585451;
  --layer-3-bg: #cfcfcf;
  --layer-1-fg: #585451;
  --layer-2-fg: #ededed;
  --layer-3-fg: #0a0a0a;
  --active-fg: #d13f3f;
}

* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.App {
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
  /* 400, 500, 700 */
  font-weight: 300;
  color: var(--layer-3-bg);
}

.Body {
  height: 1rem;
}

.Sidebar {
  height: 100%;
  width: 200px;
  background-color: var(--layer-2-bg);
  color: var(--layer-2-fg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}