.nav {
    height: 100% ;
    background-color: var(--layer-1-bg);
    color: var(--layer-2-fg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav li {   
    margin: .25rem;
    border-bottom: solid 2px transparent;
    transition: border 100ms linear;
}

.nav li.active {
    color: var(--active-fg);
}

.nav li:hover {
    color: var(--active-fg);
    border-color: var(--active-fg);
}

.author {
    all: unset;
}